@page
@model AdminMenu
@{
    ViewData["Title"] = "AdminMenu";
}

<h4>AdminMenu</h4>
<br />
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Moderators</div>
            <div class="panel-body" style="height: 200px; overflow-y: scroll;">
                @foreach(var user in Model.Input.Moderators)
                {
                    @user.UserName<br>
                }
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Add Moder</label>
            <input placeholder="Add Moder" name="userName" class="form-control" autocomplete="off" id="addModer" />
        </div>
        <div class="form-group">
            <input type="button" value="Add Moderator" class="btn btn-default" onclick="addModerator()" />
        </div>

        <div class="form-group">
            <label class="control-label">Remove Moder</label>
            <input placeholder="Remove Moder" name="userName" class="form-control" autocomplete="off" id="removeModer" />
        </div>
        <div class="form-group">
            <input type="button" value="Remove Moderator" class="btn btn-default" onclick="removeModerator()" />
        </div>
    </div>
</div>

<script>
    var addModer = '@Url.Action("AddModerAsync", "Home")';
    var removeModer = '@Url.Action("RemoveModerAsync", "Home")';
</script>