@model Tuple<News, IEnumerable<Comment>>

@{
    ViewData["Title"] = "News";
}

<h2>News</h2>

<div>
    <h4>News</h4>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Item1.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item1.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Item1.Text)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item1.Text)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<hr />
@{await Html.RenderPartialAsync("CreateComment", new Tuple<News, IEnumerable<Comment>>(Model.Item1, Model.Item2));}


