@*@model Tuple<News, IEnumerable<Comment>>*@
@model Tuple<News, NewsAggregator.Data.ApplicationDbContext>

@{
    ViewData["Title"] = "News";
}

<br><br><div class="newsFullHead">
    @Model.Item1.Name
</div>

<div><hr />
    <div>
        <div>
            <img class="newsFullImage" src="@Url.Content(Model.Item1.ImageHref)">
        </div><br /><hr />
        <div class="newsFullText">
            <span style="white-space: pre-line">@Model.Item1.Text</span>
        </div>
    </div>
</div>
<div>
    <br />
    <a asp-action="Index">Back to List</a>
</div>
<hr />
@*@{await Html.RenderPartialAsync("CreateComment", new Tuple<News, IEnumerable<Comment>>(Model.Item1, Model.Item2));}*@
@{await Html.RenderPartialAsync("CreateComment", new Tuple<News, NewsAggregator.Data.ApplicationDbContext>(Model.Item1, Model.Item2));}


