@model NewsAggregator.Models.News

@{
    ViewData["Title"] = "News";
}

<h2>News</h2>

<div>
    <h4>News</h4>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<hr />
<div style="font-size: 150%">Комментарии:</div>