/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.newsImageDiv {
    float: left;
    margin: 0 20px 0 0;
}

.newsImage {
    height: 100px;
    width: 100px;
}

.newsHead {
    font-size: 130%;
    color: black;
    font-weight: bold;
}

.newsBody {
    color: black;
    overflow: hidden;
    height: 60px;
    white-space: pre-wrap;
}

.newsFooter {
    font-size: 80%;
    color: black;
}

.commentImageDiv {
    float: left;
    margin: 0 20px 0 0;
}

.commentImage {
    height: 55px;
    width: 55px;
}

.commentHead {
    min-height: 30px;
    width: 200px;
}

.commentBody {
    min-height: 40px;
    word-wrap: break-word;
    margin-left: 10px;
}

.commentFooter {
    font-size: 80%;
    min-height: 30px;
    color: black;
}

textarea.form-control {
    width: 400px;
    height: 200px;
}

.newsFullImage {
    display: block;
    margin: 0 auto;
    max-height: 400px;
    max-width: 600px;
}

.newsFullHead {
    font-size: 150%;
    font-weight: bold;
}

.newsFullText {
    text-align: justify;
}

.profileImage {
    max-height: 200px;
    max-width: 400px;
}
